POSTGRES_USER=pm
POSTGRES_PASSWORD=pm
POSTGRES_DB=pm
DATABASE_URL=postgres://pm:pm@db:5432/pm?sslmode=disable
APP_ADDR=:8080
MASTER_PASSWORD=CHANGE_THIS_MASTER_PASSWORD
CONTROLLER_SHARED_TOKEN=CHANGE_THIS_CONTROLLER_TOKEN
CONTROLLER_MASTER_KEY=CHANGE_THIS_CONTROLLER_MASTER_KEY
