POSTGRES_USER=pm
POSTGRES_PASSWORD=pm
POSTGRES_DB=pm
DATABASE_URL=postgres://pm:pm@db:5432/pm?sslmode=disable
APP_DOMAIN=un1t.org
APP_ADDR=:8080
APP_TLS=false
MASTER_PASSWORD=CHANGE_THIS_MASTER_PASSWORD
